{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam architecto aut consequatur,
            delectus deleniti doloremque dolorum earum enim eos error est ex excepturi expedita fugiat illum, magnam
            minima natus nemo nesciunt nostrum odio odit officia quasi qui quo saepe sapiente temporibus tenetur ut vero
            voluptas voluptatibus? Aperiam delectus doloremque exercitationem reiciendis rem rerum sequi, similique
            totam ut veniam? Asperiores earum facilis illum laborum non provident soluta ut voluptas!</p>
    </article>
{% endblock %}